.container {
  border-left: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 555px;
}

.title {
  color: #3b4c68;
  font-size: 30px;
  font-weight: 600;
}
