.container {
  align-items: center;
  border-top: 2px solid #f1f2f4;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  width: 100%;
}

.yearWrapper {
  align-items: center;
  display: flex;
  gap: 5px;
}

.copyright {
  height: 16px;
  width: 16px;
}

.year {
  font-size: 18px;
  font-weight: 600;
}

.logo {
  height: 40px;
  width: 110px;
}

.github {
  align-items: center;
  color: #229687;
  display: flex;
  gap: 10px;
}

.githubName {
  font-size: 18px;
}

.line {
  background-color: #afafaf;
  height: 25px;
  width: 2px;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }
}
