.container,
.containerWitchScroll {
  border-bottom: 2px solid #f1f2f4;
  padding: 10px;
  display: flex;
  justify-content: center;
  transition: all 1s;

  position: sticky;
  top: 0;
}

.container {
  background-color: white;
}

.containerWitchScroll {
  background-color: #99c6c1;
  color: white;
}
