.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.queryLink, .fieldLink {
  color: #4383eb;
}

.queryLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.argument {
  color: #fc5b8e;
}

.type {
  cursor: pointer;
  color: #eca008;
}

.type:hover {
  text-decoration: underline;
}

.description {
  color: #848485;
}
