.container {
  min-height: calc(100vh - 120px);
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.draggable {
  position: relative;
  left: 20px;
  & > div {
    position: fixed;
    top: 38%;
  }
}
