.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  height: 35px;
  width: 37px;
  -webkit-user-drag: none;

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}
