.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 40px;
}

.icon {
  height: 35px;
  width: 35px;
}

.queryOptions {
  border-left: 2px solid #f1f2f4;
  display: block;
  height: 100%;
  padding: 15px;
}

.hidden {
  display: none;
}
